{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-dark h-100">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div id="carouselExampleAutoplaying" class="carousel slide border-bottom border-info-subtle rounded-5" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-block w-100">
                            <h1 class="text-center text-white">Welcome to About</h1>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100">
                            <h1 class="text-center text-white">Select Products and add to cart</h1>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100">
                            <h1 class="text-center text-white">Checkout Easily with Razorpay</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}